DATABASE_URL=postgresql://user:password@localhost/solmaior
SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=pageupsistemas@gmail.com
MAIL_PASSWORD=@Pageup#23
